body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chartPage {
  position: relative; 
  float:left;
  height: 400px;
  width: 700px;
}
.chartHeader {
  display: flex;
  position: relative;
}
.headerItem {
  float: left;
  margin: 2em;
}
.mapPage {
  position: relative;
  height: 400px;
  width: 700px;
}
.chartAndMap {
  display: flex;
}